/* faq styling  */

.card{
    background-color: white;
    border: 1px solid var(--main-color);

}
.card-header{
    background-color: var(--background-light);
}
.btn{
    color: var(--main-color);
}
.mb-0 h5 {
    font-family: "IvyOra Display-Medium", serif;
    font-size: 20px;
    color: var(--main-color);
}

a{
    color:white;
}

a:hover{
    color:white;
}
/* Form Section */

.form-info{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    font-size: 16px;
    font-family: "Halyard Text-Regular", sans-serif;
}

form button {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: "Halyard Text-Regular", sans-serif;
}

