/* Font Definitions */
@font-face {
  font-family: "IvyOra Display-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IvyOraDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "Halyard Text-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/.34695.otf") format("opentype");
}
@font-face {
  font-family: "Halyard Text-Book";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/halyard-display-book.otf") format("opentype");
}
@font-face {
  font-family: "IvyOra Display-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ivyora-display-light.ttf") format("truetype");
}
@font-face {
  font-family: "IvyOra Display-LightItalic";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/ivyora-display-light-italic.ttf") format("truetype");
}
@font-face {
  font-family: "IvyOra Text-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/IvyOraText-Light.ttf") format("truetype");
}
@font-face {
  font-family: "IvyOra Text-LightItalic";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/IvyOraText-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "IvyOra Display-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IvyOraDisplay-Medium.ttf") format("truetype");
}



/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: "Halyard Text-Book", sans-serif;
}

:root {
    --main-color: #2548C3;
    --background-light: #FFFAF2;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 40px;
    border-bottom: 1px solid var(--main-color);
}

.logo {
    font-family: "IvyOra Display-Light", serif;
    color: var(--main-color);
    font-size: 32px;
}

.logo-sub {
    font-family: "IvyOra Display-LightItalic", serif;
    font-style: italic;
    font-size: 32px;
}

.nav-links {
    display: flex;
    gap: 100px;
}

/* Navbar Links */
.nav-links a {
    margin: 0 10px;
    text-decoration: none;
    font-family: "Halyard Text-Regular", sans-serif;
    color: var(--main-color);
    position: relative;
}

/* Hover Effect: Dotted Underline */
.nav-links a:hover::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-bottom: 2px dotted var(--main-color);
}

/* Current Page Effect: Dotted Underline Stays */
.nav-links a.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-bottom: 2px dotted var(--main-color);
}

.contact-btn {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px / 50%;
    cursor: pointer;
    font-family: "Halyard Text-Book", sans-serif;
    font-size: 16px;
}

/* General Button Styling */
.button {
    background-color: white;
    color: var(--main-color);
    outline: 2px solid var(--main-color);
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    padding:12px;
    cursor: pointer;
    font-family: "Halyard Text-Book", sans-serif;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    color:white;
    text-decoration: none;
    background-color: var(--main-color);
    
}

button.read-more {
    background-color: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

/* Button Group Styling */
.cta-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

/* Section Styling */
section {
    height: 880px;
    padding: 40px 20px;
    background-color: white;
}

hr {
    border: 0;
    border-top: 2px solid var(--main-color);
    margin: 0;
}

.section-3, .section-5 {
    background-color: var(--background-light);
    margin: 0;
    padding: 80px 20px;
}

/* Section Titles */
h2 {
    font-family: "IvyOra Display-Medium", serif;
    font-size: 56px;
    color: var(--main-color);
    margin-bottom: 20px;
    font-weight: 400;
}

p {
    font-family: "Halyard Text-Book", sans-serif;
    font-size: 16px;
    color: var(--main-color);
}

/* Section 1 */
.section-1 {
    display: flex;
    height: auto;
}

.left-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-column {
    flex: 1;
    padding: 144px;
    margin-top: 0px;
}

.hero-image{
    width:100%;
}

h1 {
    font-family: "IvyOra Display-Light", serif;
    font-size: 48px;
    color: var(--main-color);
    font-weight: 300;

}

.italic {
    font-family: "IvyOra Display-LightItalic", serif;
    font-style: italic;
    text-decoration: underline;
}

.subheading {
    margin-top: 150px;
    color: black;
}



.tagline {
    /*margin-left: 160px;*/
    font-family: "IvyOra Display-Light", serif;
    font-size: 20px;
    color: black;
    /*margin-bottom: 70px;*/
}

/* Interactive Columns */
.interactive-columns {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-left: 160px;
}

/* Column Boxes */
.column {
    /* width: 425px;
    height: 425px; */ 
    height:100%;
    background-color: var(--background-light);
    color: var(--main-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column.bluevariant{
    background-color:var(--main-color);
    color:white;
}

/* First Box 
.column:first-child {
    background-color: var(--main-color);
}*/


.column:first-child h3 {
    font-family: "IvyOra Display-Regular", serif;
    font-size: 32px;
    margin-bottom: 70px;
}

/* First Box Buttons */
.range-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0 20px;
}

.column:first-child .range-buttons button {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    font-family: "IvyOra Text-Light", serif;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Hover Effect */
.column:first-child .range-buttons button:hover  {
    background-color: white;
    color: var(--main-color);
    border-color: var(--main-color);
}

/* Text Under Buttons */
.range-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: "Halyard Text-Book", serif;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

/* Second and Third Boxes */
.column:nth-child(2),
.column:nth-child(3) {
    background-color: #FFF9EF; /* Light background */
}

/* Headings in Second and Third Boxes */
.column:nth-child(2) h3,
.column:nth-child(3) h3 {
    font-family: "IvyOra Display-Regular", serif;
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--main-color);
}

/* Response Input Boxes */
.column input {
    width: 90%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    margin-top: 10px;
    font-size: 16px;
    font-family: "Halyard Text-Book", sans-serif;
    color: var(--main-color);
}

.column input::placeholder {
    color: #999;
}

/* Submit Button */
.column button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 25px / 50%;
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Halyard Text-Book", sans-serif;
    font-size: 16px;
}
/* Section 2: */

.section-2{
    height:auto;
}
/* Section 3: Daily Affirmations */
.affirmationImage{
    width: 100%;
}

.section-3 {
    background-color: var(--background-light);
    height:auto;

}

.section-3 .image-row {
    display: flex;
    gap: 20px;
    flex: 2;
    /*margin-top: 140px;
    margin-left: 170px;*/
}

.section-3 .image-card {
    text-align: center;
    width: 100%;
    font-family: "IvyOra Display-Medium", serif;
    color: var(--main-color);
}

.section-3 .image-card .date {
    font-family: "Halyard Text-Regular", sans-serif;
    font-size: 12px;
    margin-bottom: 0px;
}

.section-3 .image-card .day {
    font-family: "IvyOra Display-Medium", serif;
    font-size: 24px;
}

.section-3 .image-card img {
    border-radius: 10px;
}


.section-3 .text-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section-3 .text-area h2 {
    font-family: "IvyOra Display-Medium", serif;
    font-size: 48px;
    color: var(--main-color);
    margin-bottom: 20px;
    margin-top: 250px;
}

.section-3 .text-area p {
    font-family: "Halyard Text-Regular", sans-serif;
    font-size: 18px;
    color: black;
    margin-bottom: 40px;
}

.section-3 .join-btn {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border-radius: 25px / 50%;
    border: none;
    font-family: "Halyard Text-Regular", sans-serif;
    font-size: 16px;
    cursor: pointer;
}


/* Section 4: Legacy Projects */

.section-4 {
    padding: 60px 20px;
    height:auto;

}

.section-4 h2 {
    font-family: "IvyOra Display-Medium", serif;
    font-size: 48px;
    color: var(--main-color);
    margin-bottom: 20px;
    margin-top: 80px;
}

.descrip p {
    font-family: "Halyard Text-Regular", sans-serif;
    font-size: 16px;
    color: black;
    margin-bottom: 100px;
}

.project-cards {
    display: flex;
    gap: 20px;
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden;
    padding-bottom: 10px;
    scroll-behavior: smooth;
}

/* Customize the scrollbar */
.project-cards::-webkit-scrollbar {
    height: 10px;
}

.project-cards::-webkit-scrollbar-thumb {
    background-color: var(--main-color); /* Navy blue scrollbar */
    border-radius: 10px;
}

.project-cards::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.project-cards .card {

    background-color: white;
    border: none;
    border-radius: 10px;

    padding: 10px;
    text-align: left;
    font-family: "Halyard Text-Regular", sans-serif;
    flex-shrink: 0; /* Prevents cards from shrinking */
}

.project-cards .card img {
    width:auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-cards .card h3 {
    font-family: "IvyOra Display-Medium", serif;
    font-size: 24px;
    color: var(--main-color);
    margin-bottom: 10px;
    text-align: left;
}

.project-cards .card button {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border-radius: 25px / 50%;
    border: none;
    cursor: pointer;
    font-family: "Halyard Text-Regular", sans-serif;
    font-size: 16px;
    text-align: left;
}

/* Section 5: Receive Support */
.section-5 {
    background-color: var(--background-light);
    text-align: center;
    height:auto;
    padding: 60px 20px;
}


.section-5 h2 {
    font-family: "IvyOra Display-Medium", serif;
    font-size: 32px;
    color: var(--main-color);
    margin-bottom: 20px;
}

.section-5 p {
    font-family: "Halyard Text-Regular", sans-serif;
    font-size: 16px;
    color: var(--main-color);
    margin-bottom: 40px;
}


.section-5 .card {
    display:flex;
    flex-direction:column;
    text-align: left;
    background-color: transparent;
    border: none;
    height:100%;
    

}
.section-5 .join-btn{
    margin-top: auto;
}


.section-5 .card h3 {
    font-family: "IvyOra Display-Medium", serif;
    font-size: 24px;
    color: var(--main-color);
    margin-bottom: 10px;
}

.section-5  .card p {
    font-family: "Halyard Text-Regular", sans-serif;
    font-size: 14px;
    color: black;
}

